body {
    background-color: rgb(31, 37, 34);
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    text-indent: 4ch;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;   
}

.firstChoice a {
    color: inherit;
    background-color: inherit;
    text-decoration: inherit;
}

header {
    background-color: inherit;
    font-size: 25px; 
    font-family:'Franklin Gothic Medium';
    margin-bottom: 0;
    padding-bottom: 0;
}

main {
    margin-top: 0;
    padding-top: 0;
}

path {
    fill: transparent;
}

text {
    fill: #ffffff;
}

.container {
    width: 700px;
    height: 570px;
    margin: 0 auto;
    background-color: rgb(40, 38, 39);
    position: relative;
}

.container p {
    margin: 3%;
    padding: 1%;
    font-size: 20px;
}